<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.BannerDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.BannerDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="banner_id" property="bannerId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ad_id, sort, banner_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from t_banner_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getAdIdList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from t_banner_detail a
    where banner_id = #{0}
    order by a.sort
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_banner_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.BannerDetail" >
    insert into t_banner_detail (id, ad_id, sort, 
      banner_id)
    values (#{id,jdbcType=INTEGER}, #{adId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{bannerId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.model.BannerDetail" >
    insert into t_banner_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="bannerId != null" >
        banner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="bannerId != null" >
        #{bannerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.BannerDetail" >
    update t_banner_detail
    <set >
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="bannerId != null" >
        banner_id = #{bannerId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.BannerDetail" >
    update t_banner_detail
    set ad_id = #{adId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      banner_id = #{bannerId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByBannerId" parameterType="java.lang.Integer" >
    delete from t_banner_detail
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>

</mapper>