<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.BbsMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.Bbs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="bbs_type" property="bbsType" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="post_type" property="postType" jdbcType="INTEGER" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="agree_count" property="agreeCount" jdbcType="INTEGER" />
    <result column="answer_count" property="answerCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="delete_user_id" property="deleteUserId" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseVMResultMap" type="com.hotel.modelVM.BbsVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="bbs_type" property="bbsType" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="post_type" property="postType" jdbcType="INTEGER" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="agree_count" property="agreeCount" jdbcType="INTEGER" />
    <result column="answer_count" property="answerCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="delete_user_id" property="deleteUserId" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP" />
    <association column="customer_id" property="customer" javaType="Customer" select="com.hotel.dao.CustomerMapper.selectByPrimaryKey"></association>
    <collection column="id" property="bbsAttachUrls" select="com.hotel.dao.BbsAttachMapper.selectByBbsId"></collection>
  </resultMap>
  <resultMap id="BaseVMResultMap2" type="com.hotel.modelVM.BbsVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="bbs_type" property="bbsType" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="post_type" property="postType" jdbcType="INTEGER" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="browse_count" property="browseCount" jdbcType="INTEGER" />
    <result column="agree_count" property="agreeCount" jdbcType="INTEGER" />
    <result column="answer_count" property="answerCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="delete_user_id" property="deleteUserId" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP" />
    <association column="customer_id" property="customer" javaType="Customer" select="com.hotel.dao.CustomerMapper.selectByPrimaryKey"></association>
  </resultMap>
  <resultMap id="BaseCommentMap" type="com.hotel.model.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="customerName" jdbcType="VARCHAR" />
    <result column="photo_url" property="customerPhoto" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    b.id, b.customer_id, b.bbs_type, b.category_id, b.post_type, b.target_type, b.target_id, b.parent_id, 
    b.level, b.path, b.title, b.text, b.score, b.create_time, b.browse_count, b.agree_count, b.answer_count, 
    b.share_count,b.delete_user_id, b.delete_time, b.time_stamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b
    where b.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bbs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.Bbs" >
    insert into t_bbs (id, customer_id, bbs_type, 
      category_id, post_type, target_type, 
      target_id, parent_id, level, 
      path, title, text, 
      score, create_time, browse_count, 
      agree_count, answer_count, share_count,delete_user_id, 
      delete_time, time_stamp)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{bbsType,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{postType,jdbcType=INTEGER}, #{targetType,jdbcType=INTEGER}, 
      #{targetId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, 
      #{score,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{browseCount,jdbcType=INTEGER}, 
      #{agreeCount,jdbcType=INTEGER}, #{answerCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER},
      #{deleteUserId,jdbcType=INTEGER}, #{deleteTime,jdbcType=TIMESTAMP}, #{timeStamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective1" parameterType="com.hotel.model.Bbs" >
    <selectKey resultType="INTEGER" keyProperty="id">
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bbs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="bbsType != null" >
        bbs_type,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="browseCount != null" >
        browse_count,
      </if>
      <if test="agreeCount != null" >
        agree_count,
      </if>
      <if test="answerCount != null" >
        answer_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="deleteUserId != null" >
        delete_user_id,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="bbsType != null" >
        #{bbsType,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseCount != null" >
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="agreeCount != null" >
        #{agreeCount,jdbcType=INTEGER},
      </if>
      <if test="answerCount != null" >
        #{answerCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="deleteUserId != null" >
        #{deleteUserId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.modelVM.BbsVM" >
    <selectKey resultType="INTEGER" keyProperty="id">
       SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bbs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="bbsType != null" >
        bbs_type,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="browseCount != null" >
        browse_count,
      </if>
      <if test="agreeCount != null" >
        agree_count,
      </if>
      <if test="answerCount != null" >
        answer_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="deleteUserId != null" >
        delete_user_id,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="bbsType != null" >
        #{bbsType,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=INTEGER},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseCount != null" >
        #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="agreeCount != null" >
        #{agreeCount,jdbcType=INTEGER},
      </if>
      <if test="answerCount != null" >
        #{answerCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="deleteUserId != null" >
        #{deleteUserId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.Bbs" >
    update t_bbs
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="bbsType != null" >
        bbs_type = #{bbsType,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        post_type = #{postType,jdbcType=INTEGER},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="browseCount != null" >
        browse_count = #{browseCount,jdbcType=INTEGER},
      </if>
      <if test="agreeCount != null" >
        agree_count = #{agreeCount,jdbcType=INTEGER},
      </if>
      <if test="answerCount != null" >
        answer_count = #{answerCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="deleteUserId != null" >
        delete_user_id = #{deleteUserId,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeStamp != null" >
        time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.Bbs" >
    update t_bbs
    set customer_id = #{customerId,jdbcType=INTEGER},
      bbs_type = #{bbsType,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      post_type = #{postType,jdbcType=INTEGER},
      target_type = #{targetType,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      score = #{score,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      browse_count = #{browseCount,jdbcType=INTEGER},
      agree_count = #{agreeCount,jdbcType=INTEGER},
      answer_count = #{answerCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      delete_user_id = #{deleteUserId,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      time_stamp = #{timeStamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="query_sql">
      <if test="id != null" >
        and b.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="customerId != null" >
        and b.customer_id = #{customerId,jdbcType=INTEGER}
      </if>
      <if test="bbsType != null" >
        and b.bbs_type = #{bbsType,jdbcType=INTEGER}
      </if>
      <if test="categoryId != null" >
        and b.category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="postType != null" >
        and b.post_type = #{postType,jdbcType=INTEGER}
      </if>
      <if test="targetType != null" >
        and b.target_type = #{targetType,jdbcType=INTEGER}
      </if>
      <if test="targetId != null" >
        and b.target_id = #{targetId,jdbcType=INTEGER}
      </if>
      <if test="parentId != null" >
        and b.parent_id = #{parentId,jdbcType=INTEGER}
      </if>
      <if test="level != null" >
        and b.level = #{level,jdbcType=INTEGER}
      </if>
      <if test="path != null" >
        and b.path = #{path,jdbcType=VARCHAR}
      </if>
      <if test="title != null" >
        and b.title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="text != null" >
        and b.text = #{text,jdbcType=VARCHAR}
      </if>
      <if test="score != null" >
        and b.score = #{score,jdbcType=TINYINT}
      </if>
      <if test="createTime != null" >
        and b.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="browseCount != null" >
        and b.browse_count = #{browseCount,jdbcType=INTEGER}
      </if>
      <if test="agreeCount != null" >
        and b.agree_count = #{agreeCount,jdbcType=INTEGER}
      </if>
      <if test="answerCount != null" >
        and b.answer_count = #{answerCount,jdbcType=INTEGER}
      </if>
      <if test="shareCount != null" >
        and b.share_count = #{shareCount,jdbcType=INTEGER}
      </if>
      <if test="deleteUserId != null" >
        and b.delete_user_id = #{deleteUserId,jdbcType=INTEGER}
      </if>
      <if test="deleteUserId == null" >
        and b.delete_user_id is null
      </if>
      <if test="deleteTime != null" >
        and b.delete_time = #{deleteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="timeStamp != null" >
        and b.time_stamp = #{timeStamp,jdbcType=TIMESTAMP}
      </if>
  </sql>
  <select id="selectByMap" resultMap="BaseVMResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />,
    (select count(cc.id) from t_customer_collection cc where cc.target_id = b.id and cc.collection_type = 3) as collectionCount
    from t_bbs b
    where 1=1 
    <include refid="query_sql" />
    <if test="type == 1 or type == 3">
      order by b.create_time desc
    </if>
    <if test="pageEnd != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit 0, #{pageEnd}
    </if>
  </select>
  <select id="selectCommentByHotel" resultMap="BaseCommentMap" parameterType="java.util.Map" >
   select a.id,a.text,b.name,b.photo_url from t_bbs a left join t_customer b on b.id = a.customer_id 
   where a.bbs_type = 2 and a.target_type = 1 and a.target_id = #{targetId,jdbcType=INTEGER}
    <if test="startRow != null and pageSize != null and startRow>-1 and pageSize>-1">
        limit #{startRow}, #{pageSize}
    </if>
  </select>
  <select id="countCommentByHotel" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
   select count(id) from t_bbs
   where bbs_type = 2 and target_type = 1 and target_id = #{targetId,jdbcType=INTEGER}
  </select>
  <select id="countByMap" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(b.id)
    from t_bbs b
    where 1=1 
    <include refid="query_sql" />
  </select>
  <select id="selectBbsByMap" resultMap="BaseVMResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />,count(cc.id) as collectionCount
    from t_bbs b
    left join t_customer_collection cc on cc.target_id = b.id and cc.collection_type = 3
    where 1=1 
    <include refid="query_sql" />
    group By b.id
  </select>
  <select id="selectByPid" resultMap="BaseVMResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />,
    (select count(cc.id) from t_customer_collection cc where cc.target_id = b.id and cc.collection_type = 3) as collectionCount
    from t_bbs b
    where b.parent_id = #{parentId,jdbcType=INTEGER}
    <include refid="query_sql" />
    <if test="pageEnd != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit 0, #{pageEnd}
    </if>
  </select>
  <update id="updateAnswerCount" parameterType="java.lang.Integer" >
    update t_bbs
    set
    answer_count = answer_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateAgreeCount" parameterType="java.lang.Integer" >
    update t_bbs
    set
    agree_count = agree_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateShareCount" parameterType="java.lang.Integer" >
    update t_bbs
    set
    share_count = share_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBrowseCount" parameterType="java.lang.Integer" >
    update t_bbs
    set
    browse_count = browse_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="fullTextSearchOfBbs" resultMap="BaseVMResultMap" parameterType="java.lang.String">
  	SELECT * FROM t_bbs a
	where instr(a.text,#{0})>0 or instr(a.title,#{0})>0
	ORDER BY a.create_time DESC
	LIMIT 0,4;
  </select>
  
  <select id="countByBbs" resultType="java.lang.Integer" parameterType="com.hotel.model.Bbs" >
    select count(id) from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type=#{bbsType,jdbcType=INTEGER} and target_type = #{targetType,jdbcType=INTEGER} and target_id = #{targetId,jdbcType=INTEGER}
  </select>
  
  <select id="countPostByCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and post_type = 0 and delete_user_id is null
  </select>
  
   <select id="getPagePostByCustomer" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b 
    where b.customer_id = #{customerId,jdbcType=INTEGER} and b.bbs_type = 1 and b.post_type = 0 and b.delete_user_id is null order by b.create_time desc 
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    	limit #{pageStart}, #{pageSize}
    </if>
  </select>
  <update id="updatePostDeleteInfo" parameterType="java.lang.Integer" >
    update t_bbs
    set
    delete_user_id = customer_id, delete_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countDPraiseByCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 3 and post_type = 2 and target_type = 0
  </select>
  <select id="countDPraiseToCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from t_bbs where bbs_type = 3 and post_type = 2 and target_type = 0 and customer_id != #{customerId,jdbcType=INTEGER} and target_id in (select id from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and (post_type = 1 or post_type = 0) and target_type = 0 and delete_user_id is null)
  </select>
  <select id="countDCommentByCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and post_type = 1 and target_type = 0
  </select>
  <select id="countDCommentToCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id) from t_bbs where bbs_type = 1 and post_type = 1 and target_type = 0 and customer_id != #{customerId,jdbcType=INTEGER} and parent_id in(select id from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and (post_type = 1 or post_type = 0) and target_type = 0 and delete_user_id is null)
  </select>
  
  <select id="getPageDPByCustomer" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b 
    where b.customer_id = #{customerId,jdbcType=INTEGER} and b.bbs_type = 3 and b.post_type = 2 and b.target_type = 0 order by b.create_time desc 
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    	limit #{pageStart}, #{pageSize}
    </if>
  </select>
  <select id="getPageDPToCustomer" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b 
    where b.bbs_type = 3 and b.post_type = 2 and b.target_type = 0 and b.customer_id != #{customerId,jdbcType=INTEGER} and b.target_id in (select id from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and (post_type = 1 or post_type = 0) and target_type = 0 and delete_user_id is null) order by b.create_time desc 
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    	limit #{pageStart}, #{pageSize}
    </if>
  </select>
  
   <select id="getPageDCByCustomer" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b 
    where b.customer_id = #{customerId,jdbcType=INTEGER} and b.bbs_type = 1 and b.post_type = 1 and b.target_type = 0 order by b.create_time desc 
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    	limit #{pageStart}, #{pageSize}
    </if>
  </select>
   <select id="getPageDCToCustomer" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_bbs b 
    where b.bbs_type = 1 and b.post_type = 1 and b.target_type = 0 and b.customer_id != #{customerId,jdbcType=INTEGER} and b.parent_id in(select id from t_bbs where customer_id = #{customerId,jdbcType=INTEGER} and bbs_type = 1 and (post_type = 1 or post_type = 0) and target_type = 0 and delete_user_id is null) order by b.create_time desc 
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
    	limit #{pageStart}, #{pageSize}
    </if>
  </select>

  
</mapper>
