<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.ItemTagAssociationMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.ItemTagAssociation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="item_tag_id" property="itemTagId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_id, item_tag_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item_tag_association
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item_tag_association
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.ItemTagAssociation" >
    insert into t_item_tag_association (id, item_id, item_tag_id
      )
    values (#{id,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER}, #{itemTagId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.model.ItemTagAssociation" >
    insert into t_item_tag_association
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemTagId != null" >
        item_tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemTagId != null" >
        #{itemTagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.ItemTagAssociation" >
    update t_item_tag_association
    <set >
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="itemTagId != null" >
        item_tag_id = #{itemTagId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.ItemTagAssociation" >
    update t_item_tag_association
    set item_id = #{itemId,jdbcType=INTEGER},
      item_tag_id = #{itemTagId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getTagTypeItem" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item_tag_association
    where item_tag_id = (select a.id from t_Item_tag a where tag_type = #{tagType,jdbcType=INTEGER})
  </select>
  <select id="getItemsBytagId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select
  	<include refid="Base_Column_List" />
    from t_item_tag_association
    where item_tag_id = #{itemTagId,jdbcType=INTEGER}
  </select>
  
</mapper>