<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.Item" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
  </resultMap>
    <resultMap id="resultItemVMMap" type="com.hotel.modelVM.ItemVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
    <association property="itemTag" javaType="ItemTag" column="id" select="com.hotel.dao.ItemTagMapper.selectByItemId"></association>
    <collection property="itemDetails" column="id" select="com.hotel.dao.ItemDetailMapper.selectItemVMByItemId"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_id, name, text, tel, position, score, is_used
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectItemVMById" resultMap="resultItemVMMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectItemVMByHotelId" resultMap="resultItemVMMap" parameterType="java.lang.Integer" >
    select *
    from t_item
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.Item" >
    insert into t_item (id, hotel_id, name, 
      text, tel, position, 
      score, is_used)
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{isUsed,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.model.Item" >
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.Item" >
    update t_item
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.Item" >
    update t_item
    set hotel_id = #{hotelId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      is_used = #{isUsed,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getItemByHotel" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item
    where hotel_id = #{hotelId,jdbcType=INTEGER}
  </select>
  <select id=""></select>
  
  <insert id="addAndReturnId" parameterType="com.hotel.model.Item">
  	<selectKey resultType="INTEGER" keyProperty="id">
       SELECT LAST_INSERT_ID()
  	</selectKey>
  	
	insert into t_item (id, hotel_id, name, 
      text, tel, position, 
      score, is_used)
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{isUsed,jdbcType=BIT})
	
 </insert>
 
 <delete id="deleteByItemId" parameterType="java.util.HashMap" >
    delete from t_item
    where id in 
    <foreach item="item" collection="idList" open="(" separator="," close=")">  
    	#{item.id}  
    </foreach>
  </delete>
  <select id="selectItemByItemTagId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.hotel_id, a.name, a.text, a.tel, a.position, a.score, a.is_used
    from t_item a
    left join t_item_tag_association t on a.id = t.item_id 
    where t.item_tag_id = #{0}
  </select>
  <select id="countByItemTagChild" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(i.id) 
    from t_item i INNER JOIN t_item_tag_association ita on ita.item_id = i.id WHERE ita.item_tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByItemTagChildOrderByScore" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    a.id, a.hotel_id, a.name, a.text, a.tel, a.position, a.score, a.is_used
    from t_item a INNER JOIN t_item_tag_association ita on ita.item_id = a.id WHERE ita.item_tag_id = #{tagId,jdbcType=INTEGER}
    <if test="hotelId != null and hotelId > 0">
        and a.hotel_id = #{hotelId,jdbcType=INTEGER}
    </if>
    order by score desc
    <if test="pageStart != null and pageSize != null and pageStart>-1 and pageSize>-1">
        limit #{pageStart}, #{pageSize}
    </if>
  </select>
</mapper>
