<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.RcuMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.Rcu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="serial_id" property="serialId" jdbcType="VARCHAR" />
    <result column="cfg_id" property="cfgId" jdbcType="INTEGER" />
  </resultMap>
    <resultMap id="ResultVMMap" type="com.hotel.modelVM.RcuVM" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="serial_id" property="serialId" jdbcType="VARCHAR" />
    <result column="cfg_id" property="cfgId" jdbcType="INTEGER" />
    <collection property="rcuCfgItems" column="cfg_id" select="com.hotel.dao.RcuCfgItemMapper.selectRcuCfgItemBycfgId"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id,name, room_id, serial_id,cfg_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rcu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rcu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.Rcu" >
    insert into t_rcu (id,name, room_id, serial_id, cfg_id
      )
    values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{roomId,jdbcType=INTEGER}, #{serialId,jdbcType=VARCHAR},#{cfgId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.model.Rcu" >
    insert into t_rcu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="serialId != null" >
        serial_id,
      </if>
      <if test="cfgId != null" >
        cfg_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="serialId != null" >
        #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="cfgId != null" >
        #{cfgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.Rcu" >
    update t_rcu
    <set >
    <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="serialId != null" >
        serial_id = #{serialId,jdbcType=VARCHAR},
      </if>
      <if test="cfgId != null" >
        cfg_id = #{cfgId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.Rcu" >
    update t_rcu
    set 
      name = #{name,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=INTEGER},
      serial_id = #{serialId,jdbcType=VARCHAR},
      cfg_id = #{cfgId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="getRCUsRoomId" resultMap="ResultVMMap" parameterType="java.lang.Integer">
	select a.* from t_rcu a
	where a.room_id = #{0}
	</select>
</mapper>