<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.RoomCheckMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.model.RoomCheck" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="checkin_time" property="checkinTime" jdbcType="TIMESTAMP" />
    <result column="checkout_time" property="checkoutTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_id, room_id, customer_id, checkin_time, checkout_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room_check
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room_check
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotel.model.RoomCheck" >
    insert into t_room_check (id, hotel_id, room_id, 
      customer_id, checkin_time, checkout_time
      )
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, 
      #{customerId,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.model.RoomCheck" >
    insert into t_room_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="checkinTime != null" >
        checkin_time,
      </if>
      <if test="checkoutTime != null" >
        checkout_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="checkinTime != null" >
        #{checkinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoutTime != null" >
        #{checkoutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.model.RoomCheck" >
    update t_room_check
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="checkinTime != null" >
        checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkoutTime != null" >
        checkout_time = #{checkoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.model.RoomCheck" >
    update t_room_check
    set hotel_id = #{hotelId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countHotelByCustomer" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    count(distinct hotel_id)
    from t_room_check
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" />
    from t_room_check
    where customer_id = #{customerId,jdbcType=INTEGER}
    order by checkin_time desc
  </select>
  
</mapper>